<div data-controller="calendar">
  <!-- External Events -->
  <div id="external-events">
    <form id="event-form" data-action="calendar#saveEvent">
      <input type="text" placeholder="Event Name" data-calendar-target="eventName" required />
      <input type="color" data-calendar-target="eventColor" required />
      <button type="submit">Add Event</button>
    </form>
  </div>
  <!-- Calendar -->
  <div id="calendar-container">
    <div id="calendar" data-calendar-target="calendar"></div>
  </div>
  <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">New Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id='form'>
            <div class="form-group">
              <label for="event-name-modal">Event Name</label>
              <input type="text" class="form-control" id="event-name-modal" data-calendar-target="eventNameModal" placeholder="Enter event name">
            </div>
            <div class="form-group">
              <label for="event-color-modal">Event Color</label>
              <input type="color" class="form-control" id="event-color-modal" data-calendar-target="eventColorModal">
            </div>
            <input type="hidden" id="event-date" data-calendar-target="eventDate">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  id="save-event">Save Event</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" data-action="click->calendar#saveCalendarState">Save Calendar</button>
  <style>
    #calendar-container {
      max-width: 80vw; /* Adjust this value as needed */
      margin: auto; /* Center align the calendar */
    }
  </style>