<h1>Editing service queue item</h1>

<%= render "form", service_queue_item: @service_queue_item %>

<br>

<div>
  <%= link_to "Show this service queue item", @service_queue_item %> |
  <%= link_to "Back to service queue items", service_queue_items_path %>
</div>
