<h1>New service queue item</h1>

<%= render "form", service_queue_item: @service_queue_item %>

<br>

<div>
  <%= link_to "Back to service queue items", service_order_service_queue_items_path %>
</div>
