<div id="<%= dom_id pet %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= pet.name %></h5>
    <p class="card-text"><strong> Tutor:</strong> <%= pet.customer.full_name %></p>
  </div>
</div>