<div class="container mt-3">
  <div class="card">
    <div class="card-body" id="<%= dom_id hospitalization_item %>">
      <p>
        <strong>Pet:</strong>
        <%= hospitalization_item.pet_id %>
      </p>
      <p>
        <strong>Status:</strong>
        <%= hospitalization_item.status %>
      </p>
      <p>
        <strong>Nome:</strong>
        <%= hospitalization_item.name %>
      </p>
    </div>
  </div>
</div>