<h1>Editing hospitalization item</h1>

<%= render "form", hospitalization_item: @hospitalization_item %>

<br>

<div>
  <%= link_to "Show this hospitalization item", @hospitalization_item %> |
  <%= link_to "Back to hospitalization items", hospitalization_items_path %>
</div>
