<div class="container mt-5">
  <h1>Novo Item de Internação</h1>
  <%= render "form", hospitalization_item: @hospitalization_item %>
  <br>
  <%= link_to "Voltar para itens de internação", hospitalization_items_path, class: "btn btn-secondary" %>
</div>