 <%= link_to inventory_items_path, class: "card" do %>
  <div>
    <div class="numbers"> <ion-icon name="cube-outline"></ion-icon></div>
  </div>
  <div class="card-text">
    <p> Estoque </p>
  </div>
  <div class="iconBx d-flex">
    <button class="btn btn-primary"> Acessar </button>
  </div>
<% end %>