 <%= link_to calendar_path, class: "card" do %>
  <div>
    <div class="numbers"> <ion-icon name="calendar-outline"></ion-icon></div>
  </div>
  <div class="card-text">
    <p> Agenda </p>
  </div>
  <div class="iconBx d-flex">
    <button class="btn btn-primary"> Acessar </button>
  </div>
<% end %>