<div id="<%= dom_id inventory_item %>" class="card">
  <div class="card-body">
    <h5 class="card-title"><%= inventory_item.name  %></h5>
    <p>
      <strong>Preço:</strong>
      <%= inventory_item.price %>
    </p>
    <p>
      <strong>Quantidade:</strong>
      <%= inventory_item.quantity %>
    </p>
  </div>
</div>
