<%= form_with(url: inventory_items_path, method: "get", local: true, class: "mb-3") do |form| %>
  <div class="input-group">
    <%= form.text_field :search, placeholder: "Digite o nome do Item", value: params[:search], class: "form-control" %>
    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
    <%= link_to "", inventory_items_path, class: "btn btn-outline-danger bi-trash", role: "button" %>
  </div>
<% end %>
