<%= render 'shared/sidebar' %>
<div class='home-section'>
  <%= render 'shared/topbar' %>
  <%= yield %>
</div>
<script>
  var arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e) => {
      var arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
      arrowParent.classList.toggle("showMenu");
    });
  }
  var sidebar = document.querySelector(".sidebar");
  var sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);

  // Check and apply the saved state from localStorage on page load
  if (localStorage.getItem('sideBarClosed') === 'true') {
    sidebar.classList.add("close");
  } else {
    sidebar.classList.remove("close");
  }

  sidebarBtn.addEventListener("click", () => {
    var isClosed = sidebar.classList.toggle("close");
    localStorage.setItem('sideBarClosed', isClosed); // Save the current state
  });
</script>
