<% if flash[:notice] %>
  <div class="alert alert-info mb-2">
    <%=  flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger mb-2">
    <%= flash[:alert] %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="success alert-sucess mb-2">
    <%= flash[:success] %>
  </div>
<% end %>
