<div class="dash-container">
  <div class="toggle">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <div class="navigation">
    <ul>
      <li class='logo'>
        <a href="#" class='logoitem'>
          <span class="icon">
            <ion-icon name="paw-outline"></ion-icon>
          </span>
        </a>
      </li>
      <li>
        <%= link_to root_path do %>
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">Página inicial</span>
        <% end %>
      </li>
      <li>
        <a href="#" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          <span class="icon">
            <ion-icon name="clipboard-outline"></ion-icon>
          </span>
          <div id='voualteraronomedps'>
            <span class="title">Atendimento</span>
            <div class="collapse" id="home-collapse">
              <%= link_to pets_path do%>
                <h6>caramba</h6>
              <% end %>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </span>
          <span class="title">AxoChat</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="cube-outline"></ion-icon>
          </span>
          <span class="title">Estoque</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="medkit-outline"></ion-icon>
          </span>
          <span class="title">Internação</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="title">Configurações</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </span>
          <span class="title">Sair</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<script>
  function activeLink() {
    document.querySelectorAll(".navigation li").forEach((item) => {
    item.classList.remove("hovered");
    });
    this.classList.add("hovered");
  }

  document.querySelectorAll(".navigation li").forEach((item) => item.addEventListener("mouseover", activeLink));

  document.querySelector(".toggle").onclick = function () {
    let navigation = document.querySelector(".navigation");
    let dash = document.querySelector(".dash-container");

    navigation.classList.toggle("active");
    dash.classList.toggle("active");
    document.querySelector('.main').classList.toggle("active");
  };
</script>
