<div class="dash-container">
  <div class="toggle">
    <ion-icon name="menu-outline"></ion-icon>
  </div>
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="paw-outline"></ion-icon>
          </span>
          <span class="title"> Petus</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">Página inicial</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="clipboard-outline"></ion-icon>
          </span>
          <span class="title">Atendimento</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </span>
          <span class="title">AxoChat</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="cube-outline"></ion-icon>
          </span>
          <span class="title">Estoque</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="medkit-outline"></ion-icon>
          </span>
          <span class="title">Internação</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="title">Configurações</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </span>
          <span class="title">Sair</span>
        </a>
      </li>
    </ul>
  </div>
</div>