<div class="navigation">
  <ul>
    <li>
      <a href="#">
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title"> Petus</span>
      </a>
    </li>
    <li>
      <%= link_to root_path do%>
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Página inicial</span>
      <% end %>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <ion-icon name="clipboard-outline"></ion-icon>
        </span>
        <span class="title">Atendimento</span>
      </a>
    </li>
1    <li>
      <a href="https://axochat.vercel.app/">
        <span class="icon">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </span>
        <span class="title">AxoChat</span>
      </a>
    </li>
    <li>
      <%= link_to inventory_items_path do %>
        <span class="icon">
          <ion-icon name="cube-outline"></ion-icon>
        </span>
        <span class="title">Estoque</span>
      <% end %>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <ion-icon name="medkit-outline"></ion-icon>
        </span>
        <span class="title">Internação</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <ion-icon name="settings-outline"></ion-icon>
        </span>
        <span class="title">Configurações</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span class="title">Sair</span>
      </a>
    </li>
  </ul>
</div>
