<div class="home-content">
  <i class='bx bx-menu' ></i>
  <div class="search">
    <label>
      <input type="text" placeholder="Pesquisar">
      <ion-icon name="search-outline"></ion-icon>
    </label>
  </div>
</div>