<div class="topbar">
  <div class="search">
    <label>
      <input type="text" placeholder="Pesquisar">
      <ion-icon name="search-outline"></ion-icon>
    </label>
  </div>
  <div class="user">
    <%= image_tag 'hospitalvet2.png' %>
  </div>
</div>