<div class="container p-5">
  <h1 class="mb-3">Editar tutor</h1>

<%= render "form", customer: @customer %>
  <div class="d-flex justify-content-end">
    <%= link_to "Voltar", customer_path(@customer), class: "btn btn-secondary me-2" %>
  </div>
</div>