<h1>Editar comanda</h1>

<%= render "form", service_order: @service_order %>

<br>

<div>
  <%= link_to "Visualizar comanda", @service_order %> |
  <%= link_to "Voltar", service_orders_path %>
</div>
